<!-- Default form login -->
<form class="text-center border border-light p-5">

    <p class="h4 mb-4">Inicio Sesion</p>
  
    <!-- User -->
    <input type="text" id="txtUser" class="form-control mb-4" placeholder="Usuario">
  
    <!-- Password -->
    <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Contraseña">
  
    <div class="d-flex justify-content-around">
      
      <div>
        <!-- Forgot password -->
        <a href="">Olvido la contraseña?</a>
      </div>
    </div>
  
    <!-- Sign in button -->
    <button class="btn btn-primary" type="submit">Iniciar</button>
  
    <!-- Register -->
    <p>No es un miembro?
      <a href="">Registro</a>
    </p>

  
  </form>
  <!-- Default form login -->
