<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2 class="active"> Inicio </h2>

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="../../../../assets/imagenes/LogoMechanical_FB.png" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form>
      <input type="text" id="login" class="fadeIn second" name="login" placeholder="Usuario" [(ngModel)]="user" required="required">
      <input type="text" id="password" class="fadeIn third" name="login" placeholder="Contraseña" [(ngModel)]="pass" required="required">
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Olvido la contraseña?</a>
    </div>

  </div>
</div>