<section>
<div class="row section">
    <div class="card col-6">
        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="8">

            <agm-marker  [latitude]="lat" [longitude]="lng" >
              
            </agm-marker>
        </agm-map>
    </div>
    <div class="card col-6">
      <div class="card-body">
        <h5 class="card-title">Nombre</h5>
        <p class="card-text">Servicio Especializado de emergencia</p>
        <h5 class="card-title">Servicio</h5>
        <p class="card-text">S.O.S.</p>
        <h5 class="card-title">Teléfono</h5>
        <p class="card-text">315784552</p>
        <h5 class="card-title">Dirección</h5>
        <p class="card-text">Calle 59 # 2-45</p>
  
        
  
        <div class="container">
              <div class="row">
                  <div class="col-8">
                      <div class="card card-white post">
                          <div class="post-heading">
                              <div class="float-left image">
                                  
                              </div>
                              <div class="float-left meta">
                                  <div class="title h5">
                                      Por favor describir el inconveniente:
                                  </div>
                                  
                              </div>
                          </div>
                          <div class="post-description">
                              <input type="text">
                          </div>
                      </div>
                  </div>
  
              </div>
          </div>
  
        <a href="/map" class="btn btn-primary m-2">Volver</a>
        <button class="btn btn-success m-2" (click)="Solicitar()">Solicitar servicio</button>
      </div>
    </div>
  </div>
</section>